.container-geral-wallet {
  height: 100%;
  padding: 80px;
}

.container-wallet-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.customers {
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
}

th {
  background-color: rgb(49, 108, 82);
  border: 3px solid rgba(255, 0, 0, 0);
  border-bottom: 1.5px solid rgba(255, 0, 0, 0);
  color: white;
  font-size: 18px;
  margin: 15px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
}

td {
  border: 2px solid #404040;
  padding: 8px;
}


tr:nth-child( odd ) {
  background-color: rgb(221, 221, 221);
  color: rgb(64, 64, 64);
  font-weight: 600;
}

tr:nth-child( even ) {
  background-color: rgb(127, 128, 128);
  color: #f2f2f2;
  font-weight: 600;
}

tr:nth-child( even ):hover {
  background-color: #1b2f31;
  color: rgb(95, 194, 140);
  font-weight: 900;
}

tr:nth-child( odd ):hover {
  background-color: #1b2f31;
  color: rgb(95, 194, 140);
  font-weight: 900;
}

/* ! */
.form-input-header {
  align-items: center;
  background-color: #404040;
  border: 1.5px solid #ddd;
  border-style: outset;
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;
}

label {
  color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0 5px;
}

.input-value , .input-description {
  background-color: rgb(221, 221, 221);
  background-image: none;
  border: 2px solid #404040;
  border-radius: 3px;
  box-shadow: #404040 0 3px 6px;
  color: #404040;
  font-size: 16px;
  font-weight: 700;
  margin: 10px;
  padding: 10px;
}

.input-value {
  width: 85px;
}

.input-value::placeholder {
  color: #404040;
  font-size: 12px;
  font-style: italic;
}

.input-description {
  width: 300px;
}

.input-description::placeholder {
  color: #404040;
  font-size: 12px;
  font-style: italic;
}

.select-currency {
  border-radius: 3px;
  color: #404040;
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px;
  padding: 10px;
  transition: 2s;
  width: 80px;
}

.select-method {
  border-radius: 3px;
  color: #404040;
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px;
  padding: 10px;
  transition: 0.1s;
  width: 180px;
}

.select-tag {
  border-radius: 3px;
  color: #404040;
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px;
  padding: 10px;
  transition: 0.1s;
  width: 140px;
}

.button-add {
  align-items: center;
  background-color: #1b2f31;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 2px 2px rgb(95, 194, 140);
  color: rgb(95, 194, 140);
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin-left: 60px;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
}

.button-add:hover {
  background-color: rgb(95, 194, 140);
  box-shadow: 0 0 2px 2px rgb(10, 10, 10);
  color: #1b2f31;
}

.delete-btn {
  background-color: #c12f31;
  background-image: url('https://www.sinalverdelixeiras.com.br/wp-content/uploads/2021/07/lixeiras-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 2px 2px rgb(10, 10, 10);
  color: rgba(245, 245, 245, 0);
  margin-left: 10px;
  padding: 5px 15px;
  text-align: center;
  transition: 0.1s;
  width: 45px;
}

.delete-btn:hover {
  background-color: #f44336;
  box-shadow: 0 0 2px 2px #c12f31;
  color: rgba(245, 245, 245, 0);

}

.btn-edit {
  background-color: rgb(22, 109, 176);
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 2px 2px rgb(10, 10, 10);
  color: whitesmoke;
  font-weight: 700;
  padding: 5px 15px;
  text-align: center;
  transition: 0.1s;
  width: 70px;
}

.btn-edit:hover {
  background-color: rgb(70, 159, 231);
  box-shadow: 0 0 2px 2px rgb(22, 109, 176);
  color: white;
}

.button-save {
  background-color: #1b2f31;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 2px 2px rgb(95, 194, 140);
  color: rgb(95, 194, 140);
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px;
  text-align: center;
  transition: 0.3s;
}

.button-save:hover {
  background-color: rgb(95, 194, 140);
  color: #1b2f31;
}
