body {
  background-color: #303030;
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "'Courier New'",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "'Courier New'",
    monospace;
}
